/* imports */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400&family=Poppins:wght@200;300;400;500&display=swap');

* {
  padding: 0;
  margin: 0;
  font-family: 'Poppins', sans-serif;
}

body {
  color: var(--tg-theme-text-color);
  background-color: var(--tg-theme-bg-color);
  font-family: 'Poppins', sans-serif;
}

.container {
  text-align: center;
  padding: 20px;
}

h1 {
  font-size: 28px;
  margin-bottom: 10px;
}

.main-image {
  max-width: 100%;
  height: auto;
  margin-bottom: 20px;
}

p {
  font-size: 16px;
  line-height: 1.5;
  margin-bottom: 20px;
}

button {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  background-color: var(--tg-theme-button-color);
    color: var(--tg-theme-button-text-color);
}

@media (max-width: 768px) {
  h1 {
      font-size: 24px;
  }

  p {
      font-size: 14px;
      margin-bottom: 15px;
  }

  button {
      padding: 8px 16px;
  }
}
/* form */

.form-div {
  display: none;
}

.form-div {
  margin: 0, auto;
  display: block;
  margin-top: 20px;
}

.form-div input, .form-div button {
  margin: 10px 0;
  padding: 5px;
  display: block;
  width: 100%;
}

.form-div .form {
  
}

.form-div button {
  width: 75%;
  margin: 0 auto;
  background-color: blue;
  color: white;
}

.error {
  text-align: center  ;
  color: crimson;
  font-size: 12px;
  text-decoration: underline;
}